In [45]:
!pip3 install pandas
!pip3 install matplotlib
!pip3 install kaggle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/kosiyyu/.local/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/kosiyyu/.local/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/kosiyyu/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/kosiyyu/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /home/kosiyyu/.local/lib/python3.12/site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /home/kosiyyu/.local/lib/python3.12/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/kosiyyu/.local/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/kosiyyu/.local/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/kosiyyu/.local/lib/python3.12/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.21 in /home/kosiyyu/.local/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /home/kosiyyu/.local/lib/python3.12/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /usr/lib64/python3.12/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/kosiyyu/.local/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3.12/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in /home/kosiyyu/.local/lib/python3.12/site-packages (1.6.12)
Requirement already satisfied: six>=1.10 in /usr/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /home/kosiyyu/.local/lib/python3.12/site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in /usr/lib/python3.12/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /home/kosiyyu/.local/lib/python3.12/site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /home/kosiyyu/.local/lib/python3.12/site-packages (from kaggle) (4.66.2)
Requirement already satisfied: python-slugify in /home/kosiyyu/.local/lib/python3.12/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/lib/python3.12/site-packages (from kaggle) (1.26.18)
Requirement already satisfied: bleach in /home/kosiyyu/.local/lib/python3.12/site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /home/kosiyyu/.local/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /home/kosiyyu/.local/lib/python3.12/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/lib/python3.12/site-packages (from requests->kaggle) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3.12/site-packages (from requests->kaggle) (3.4)

In [46]:
!mkdir -p ~/.kaggle
#now put your kaggle.json inside ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [47]:
!find . -name 'hotel-booking-demand.zip' | if read; then echo "File already downloaded"; else kaggle datasets download -d jessemostipak/hotel-booking-demand; fi;

File already downloaded

In [48]:
!find . -name 'hotel_bookings.csv' | if read; then echo "File already unzipped"; else unzip hotel-booking-demand.zip; fi;

File already unzipped

In [49]:
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
df = pd.read_csv('hotel_bookings.csv')

In [53]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03